.mantine-8nr514 {
  width: 150px;
  color: #7f6d5e;
  background-color: #a79789;
}

.mantine-8nr514:hover {
  color: #7f6d5e;
  background-color: #a79789;
}

.copyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
